---

interface Props {
    url: string;
     name?: string;
}

const { name, url } = Astro.props;
const id = url.split('/').at(-2); // Extracting the Pokémon ID from the URL
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`;


---

<a
href={`/pokemons/${name}`}
class="rounded border flex flex-col justify-center items-center p-2 mt-5">
  
  <img src={imgSrc} alt={name} class="pokemon-image"  />
  <h2 class="capitalize">{name}</h2>

</a>