---
import '@styles/global.css';
import type { GetStaticPaths } from "astro";
import BlogLayout from "@/layouts/BlogLayout.astro";
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

export const  getStaticPaths = (async() => {
    
    const blogPosts = await getCollection('blog');

    return blogPosts.map( post => ({
        // Generamos las rutas de los posts
        // y le pasamos las props necesarias
            params: { slug: post.slug },
            props: { post: post }
        }))
    

  /*   return [
        {
            params: {slug: 'post-01'},
            props: {title: 'Primer'}
        }
    ]; */
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const frontmatter = post.data;

const { Content, headings } = await post.render();

---

<BlogLayout title={frontmatter.title}>

    <h1 class='text-xs text-gray-500 mb-0'>{frontmatter.title}</h1>
    <h4 class="text-md text-gray-400 mb-0">{frontmatter.author}</h4>




     <Image
    class="w-full my-5 h-[300px] rounded-lg object-cover"
      src={frontmatter.image}
      alt={frontmatter.title}
      width={600}
      height={600}
      transition:name={`${post.slug}-image`}
      loading="lazy"/>


    <!-- Creamos una lista numerada para la tabla de contenidos ya que le headings
    contienen un slug y un texto 
     Esto nos permite crear una tabla de contenidos que enlaza a los diferentes 
    -->
    <h3>Tabla de contenidos</h3>
    <ol>
        {
            headings.map((heading, index) => (
                <li>
                    <a href={`#${heading.slug}`}>{index + 1}. {heading.text}</a>
                </li>
            ))
        }
    </ol>

    <Content />

    <!-- Esto nos permite volver al inicio de la página -->
<div class="my-20">
    <a href="#back-link">Volver arriba</a>

</div>

</BlogLayout>