---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
/**
 * ESTA PARTE ES PARA DEFINIR LAS RUTAS ESTATICAS QUE SE VAN A GENERAR
 * EN ESTE CASO, VAMOS A GENERAR UNA RUTA PARA CADA POKEMON QUE QUERAMOS MOSTRAR
 */

// esta funcion es para definir las rutas estaticas que se van a generar
// en este caso, vamos a generar una ruta para cada pokemon que queramos mostrar
export const getStaticPaths = (() => {
    
    return [
        { params: { name: 'bulbasaur' }, 
          props: { name: 'bulbasaur', url: 'https://pokeapi.co/api/v2/pokemon/1/' } },

        { params: { name: 'ivysaur' }, 
          props: { name: 'ivysaur', url: 'https://pokeapi.co/api/v2/pokemon/2/' } },

        { params: { name: 'charmander' }, 
          props: { name: 'charmander', url: 'https://pokeapi.co/api/v2/pokemon/4/' } },

        { params: { name: 'raticate' }, 
          props: { name: 'raticate', url: 'https://pokeapi.co/api/v2/pokemon/20/' } },
  ];
}) satisfies GetStaticPaths;

const { name } = Astro.params; // obtenemos el nombre del pokemon de la ruta
const {url} = Astro.props; // obtenemos la url del pokemon de las props

const id = url.split('/').at(-2); // extraemos el ID del pokemon de la URL

// construimos la URL del sonido del pokemon
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`



---

<!-- en esta pagina le pasamos el nombre del pokemon a la ruta -->

<MainLayout title="Pokémon Static Detail">


<section class="mt-10 mx-10 flex flex-col justify-center items-center">
 
  <div>
    <a href="/"> Regresar</a>
    <h1 class="text-5xl capitalize">{name}</h1>
    
  </div>
  
 
  <PokemonCard name={name} url={url} />

  <audio controls class="mt-5">
    <source src={audioSrc} type="audio/ogg">
    Your browser does not support the audio element.

  </audio>


</section>


</MainLayout>

<style>
    

    a {
        @apply hover:underline;
        color: blue;
        
    }
</style>